
html {
	background-color: #9ba6ff;
}

.header{
	float: left;
	position: absolute;
	left: 0px;
	background-color: #ffffff;
	width: 100%;
	height: 20%;
	top: -1%;
}
#header-left{
	float: left;
	position: absolute;
	left: 0px;
	background-color: #ff6768;
	width: 6.5%;
	height: 104%;
	top: -5px;
}
#header-right{
	float: right;
	position: absolute;
	right: 0px;
	background-color: #ff6768;
	width: 6.5%;
	height: 104%;
	top: -5px;
}
#logo {
	float: top;
	width: 35%;
	height: 120%;
	position: absolute;
	left: 12.5%;
	bottom: 17%;
}
.d {
	font-size: 16vh;
	font-family: Verdana;
	color: black;
	position: absolute;
	top: 5px;
	left: 680px;
}
.igital {
	font-size: 7vh;
	font-family: verdana;
	left: 770px;
	color: black;
	top: 63px;
	position: absolute;
}
.c {
	font-size: 16vh;
	font-family: Verdana;
	color: black;
	position: absolute;
	top: 5px;
	left: 910px;
}
.urrency {
	font-size: 7vh;
	font-family: verdana;
	left: 987px;
	color: black;
	top: 63px;
	position: absolute;
}
h1{
	font-family: verdana;
	color: white;
	font-size: 8vh;
	margin-top: 10.5%;
	right: 50%;
}
h2{
	font-family: verdana;
	color: white;
	font-size: 2vw;
}
body,html{
	overflow-x: hidden;
	overflow-y: hidden;
}
.container{
	width: 30vw;
	height: 30vw;
	text-align: center;
	background-color: #0bd0b7; 
	border-radius: 10px;
	margin: 0 auto;
	margin-top: -21px;
	z-index: -1;
	padding-bottom: 30px;
	position: absolute;
	left: 2%;
}
.container img{
	width: 10vw;
	height: 10vw;
	margin-top: -20px;
	margin-right: 30px;
}
#container{
	float: right;
	background-color:#0bd0b7; 
	border-radius: 10px;
	right: 2%;
	margin: 0 auto;
	margin-top: -21px;
	z-index: -1;
	text-align: center;
}
.text{
	font-family: verdana;
	font-size: 1.8vw;
	color: white;
	text-align: center;
	font-weight: bold;
}
.learn{
	float: right;
	position: absolute;
	margin-top: -15px;
	margin: 0 auto;
	right: 1%;
}
.classprofile{
	width: 10vw;
	height: 10vw;
}
#apartment-box {
	width: 480px;
	height: 140px;
	left: -85px;
	top: 120px;
	position: absolute;
}

.account-name {
	font-size: 48px;
	font-family: verdana;
	position: relative;
	color: white;
	top: 154.8px;
	left: 58px;
	z-index: 1;
	opacity: 1.3;
}

#box1 {
	width: 470px;
	height: 150px;
	float: right;
	right: 0%;
	top: 135px;
	position: absolute;
	background-color: #00cccc;
	border: 2px;
	opacity: 1.5;
	border-radius: 2px;
}

.a1 {
	font-size: 65px;
	position: absolute;
	color: white;
	font-family: verdana;
	top: -3px;
	left: 27px;
}

.b1 {
	font-size: 65px;
	position: absolute;
	color: white;
	font-family: verdana;
	top: 63px;
	left: 27px;
}

.dollars {
	font-size: 65px;
	color: white;
	font-family: verdana;
	top: -3px;
	position: absolute;
	left: 35%;
}

#pedro1 {
	width: 200px;
	height: 110px;
	float: top;
	position: absolute;
	left: 14.5px;
	top: -17.5px;
}

#pedro2 {
	width: 200px;
	height: 110px;
	float: top;
	position: absolute;
	left: 14.5px;
	top: 50px;
}

.kips {
	font-size: 65px;
	color: white;
	font-family: verdana;
	top: 65px;
	position: absolute;
	left: 35%;
}

#kip {
	width: 205px;
	height: 115px;
	float: top;
	position: absolute;
	left: 67%;
	top: 49px;
}

.budget {
	font-size: 39px;
	font-family: verdana;
	position: relative;
	color: white;
	top: 230px;
	left: -145px;
	z-index: 1;
	opacity: 1.3;
}

#budget-box {
	width: 360px;
	height: 50px;
	top: 300px;
	left: 1%;
	position: absolute;
	border-radius: 12px;
	z-index: 1;
	background-color: white;
}

#exchange-box {
	width: 360px;
	height: 80px;
	top: 360px;
	left: 1%;
	position: absolute;
	border-radius: 12px;
	z-index: 1;
	background-color: #5271ff;
}

#transfer-box {
	width: 360px;
	height: 80px;
	top: 390px;
	left: .45%;
	position: relative;
	border-radius: 12px;
	z-index: 1;
	background-color: #ff6768;
}

#profile-box {
	width: 360px;
	height: 80px;
	top: 407px;
	left: .45%;
	position: relative;
	border-radius: 12px;
	z-index: 1;
	background-color: #5271ff;
}

.expenses {
	font-size: 39px;
	font-family: verdana;
	position: relative;
	color: white;
	top: 21px;
	left: 43%;
	z-index: 1;
	opacity: 1.3;
}

#transaction-box {
	width: 550px;
	height: 80px;
	top: 86.5%;
	left: 31%;
	position: absolute;
	border-radius: 12px;
	z-index: 1;
	background-color: #b760e6;
}

.exchange {
	font-size: 45px;
	color: white;
	font-family: verdana;
	top: 10px;
	position: absolute;
	left: 25%;
}

.transfer {
	font-size: 45px;
	color: white;
	font-family: verdana;
	top: 10px;
	position: absolute;
	left: 10%;
}

.profile {
	font-size: 45px;
	color: white;
	font-family: verdana;
	top: 10px;
	position: absolute;
	left: 30%;
}

.transaction {
	font-size: 45px;
	color: white;
	font-family: verdana;
	top: 10px;
	position: absolute;
	left: 19%;
}

#body-logo {
	float: right;
	width: 60%;
	transform: rotate(-25deg);
	position: absolute;
	right: 5%;
	bottom: 25%;
	opacity: 0.3;
	z-index: -1;
}

#box { 
	float: right; 
	top: 150px; 
	width: 56%; 
	height: 800px; 
	left: 600px; 
	transform: rotate(-25deg);
 	position: absolute; 
 	z-index: -10;
}

#exchange-logo {
	width: 75px;
	height: 73px;
	float: top;
	position: absolute;
	left: 11px;
	top: 1.5px;
}

#profile-logo {
	width: 75px;
	height: 73px;
	float: top;
	position: absolute;
	left: 11px;
	top: 1.5px;
}

#transaction-logo {
	width: 120px;
	height: 117px;
	float: top;
	position: absolute;
	left: 0px;
	top: -22%;
}
.know-more {
	left: 1120px;
	top: 400px;
	position: absolute;
	float: right;
	transform: rotate(-90deg);
	z-index: 1;
	font-size: 30px;
	font-family: sans-serif;
	width: 300px;
	height: 50px;
	color: white;
}

#about-us {
	left: 1285px;
	top: 510px;
	position: absolute;
	float: right;
	z-index: 1;
	width: 60px;
	height: 60px;
}

#exchange-hp {
	left: 1285px;
	top: 414px;
	position: absolute;
	float: right;
	z-index: 1;
	width: 60px;
	height: 60px;
}

#tutorials {
	left: 1285px;
	top: 318px;
	position: absolute;
	float: right;
	z-index: 1;
	width: 60px;
	height: 60px;
}

#arrowback {
	left: -1.8%;
	top: 1.5%;
	position: absolute;
	float: left;
	z-index: 5;
	width: 150px;
	height: 150px;
}
#logo1{
	float: right;
	width: 60%;
	transform: rotate(-25deg);
	position: absolute;
	right: -5%;
	bottom: 30%;
	opacity: 0.3;
	z-index: -1;
}
#box{
	transform: rotate(-25deg);
	width: 55%;
	height: 800px;
	left: 600px;
	top: 150px;
	float: right;
	z-index: -10;
	position: absolute;
}

#title{
	margin: 200px;
	color: #ffffff;
	font-size: 70px;
	text-align: center;
	font-family: Verdana;
	position: absolute;
	left: 660px;
	top:-60px;
}
.iframe{
	border-radius: 10px;
}
.know-more {
	left: 1120px;
	top: 400px;
	position: absolute;
	float: right;
	transform: rotate(-90deg);
	z-index: 1;
	font-size: 30px;
	font-family: sans-serif;
	width: 300px;
	height: 50px;
	color: white;
}
.img{
	position: absolute;
	top: 200px;
	width: 30vw;
	height: 25vw;
}
#about-us {
	left: 1285px;
	top: 510px;
	position: absolute;
	float: right;
	z-index: 1;
	width: 60px;
	height: 60px;
}

#exchange-hp {
	left: 1285px;
	top: 414px;
	position: absolute;
	float: right;
	z-index: 1;
	width: 60px;
	height: 60px;
}

#tutorials {
	left: 1285px;
	top: 318px;
	position: absolute;
	float: right;
	z-index: 1;
	width: 60px;
	height: 60px;
}
#h1{
	color: #ffffff;
	left: 40%;
	font-size: 5em;
	font-weight: 500;
	position: absolute;
	top: 12%;
}
#logo1{
	float: right;
	width: 60%;
	transform: rotate(-25deg);
	position: absolute;
	right: 5%;
	bottom: 25%;
	opacity: 0.4;
}
#square{
	width: 50%;
	height: 100%;
	position: absolute;
	right: 5%;
	bottom: -25%;
	float: right;
	z-index: -1;
	transform: rotate(-25deg);
	background-color: #68bdda;
}

#text{
	position: absolute;
	top: 30%;
	float: left;
	left: 25%;
	color: white;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;
}
.btn-success {
    color: #fff;
    background-color: #ff6768;
    border-color: #ff6768;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 65%;
    left: 10%;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 400px;
    direction: ltr;
    cursor: pointer;
}
#output{
	position: absolute;
	top: 35%;
	left: 8%;
}
#nextpage{
	width: 10%;
	height: 9%;
	text-align: center;
	background-color: #b560e5;
	border-radius: 15px;
	position: absolute;
	top: 80%;
	left: 40%;
	color: #ffffff;
	font-size: 40px;
}
#info{
	transform: rotate(270deg);
	color: #ffffff;
	position: absolute;
	right: -1%;
	bottom: 25%;
}
.know-more {
	left: 1120px;
	top: 400px;
	position: absolute;
	float: right;
	transform: rotate(-90deg);
	z-index: 1;
	font-size: 30px;
	font-family: sans-serif;
	width: 300px;
	height: 50px;
	color: white;
}

#about-us {
	left: 1285px;
	top: 510px;
	position: absolute;
	float: right;
	z-index: 1;
	width: 60px;
	height: 60px;
}

#exchange-hp {
	left: 1285px;
	top: 414px;
	position: absolute;
	float: right;
	z-index: 1;
	width: 60px;
	height: 60px;
}

#tutorials {
	left: 1285px;
	top: 318px;
	position: absolute;
	float: right;
	z-index: 1;
	width: 60px;
	height: 60px;
}

#save{
	background-color: #EEFA42;
	width: 12%;
	height: 8%;
	position: absolute;
	bottom: 15%;
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	border-radius: 15px;
	left: 35%;
}

body{
background-color: #89A5D1;
}
body, html { 
	overflow-x: hidden; 
	overflow-y: hidden; 
}
