@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
.header{
	float: left;
	position: absolute;
	left: 0px;
	background-color: #ffffff;
	width: 100%;
	height: 20%;
	top: -1%;
}
#header-left{
	float: left;
	position: absolute;
	left: 0px;
	background-color: #ff6768;
	width: 6.5%;
	height: 104%;
	top: -5px;
}
#header-right{
	float: right;
	position: absolute;
	right: 0px;
	background-color: #ff6768;
	width: 6.5%;
	height: 104%;
	top: -5px;
}
#logo {
	float: top;
	width: 35%;
	height: 120%;
	position: absolute;
	left: 12.5%;
	bottom: 17%;
}
.d {
	font-size: 16vh;
	font-family: Verdana;
	color: black;
	position: absolute;
	top: 5px;
	left: 680px;
}
.igital {
	font-size: 7vh;
	font-family: verdana;
	left: 770px;
	color: black;
	top: 63px;
	position: absolute;
}
.c {
	font-size: 16vh;
	font-family: Verdana;
	color: black;
	position: absolute;
	top: 5px;
	left: 910px;
}
.urrency {
	font-size: 7vh;
	font-family: verdana;
	left: 987px;
	color: black;
	top: 63px;
	position: absolute;
}
#logo1{
	float: right;
	width: 60%;
	transform: rotate(-25deg);
	position: absolute;
	right: -5%;
	bottom: 30%;
	opacity: 0.3;
	z-index: -1;
}
#box{
	transform: rotate(-25deg);
	width: 55%;
	height: 800px;
	left: 600px;
	top: 150px;
	float: right;
	z-index: -10;
	position: absolute;
}
.box1 {
	float: left; 
	top: 60%; 
	width:30%; 
	height: 70%; 
	left: 5%; 
	transform: rotate(68deg);
 	position: absolute; 
 	z-index: -10;
}

#transfer {
	margin-top: 200px;
	color: #000000;
	font-size: 4.5vw;
	text-align: center;
	font-family: sans-serif;
	position: absolute;
	right: 38%;
	top:-70px;
}
.know-more {
	right: -1%;
	top: 72.5%;
	position: absolute;
	float: right;
	transform: rotate(-90deg);
	font-size: 2vw;
	font-family: sans-serif;
	color: white;
	animation-duration: 5s;
    animation-delay: .5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: flash;
}


#about-us {
	right: 1%;
	top: 82.5%;
	position: absolute;
	float: right;
	z-index: 1;
	width: 5vw;
	height: 5vw;
}

#exchange-hp {
	right: 1%;
	top: 70%;
	position: absolute;
	float: right;
	z-index: 1;
	width: 5vw;
	height: 5vw;
}

#tutorials {
	right: 1%;
	top: 57.5%;
	position: absolute;
	float: right;
	z-index: 1;
	width: 5vw;
	height: 5vw;
}
.img{
	position: absolute;
	top: 200px;
	width: 30vw;
	height: 25vw;
}
#arrowback {
	left: -1.8%;
	top: 1.5%;
	position: absolute;
	float: left;
	z-index: 5;
	width: 150px;
	height: 150px;
}
.iframe{
	width: 60vw;
	height: 95.5vh;
	border-radius: 20px;
}

body{
background-color: #89A5D1;
}
body, html { 
	overflow-x: hidden; 
	overflow-y: hidden; 
}
